@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding:0;
    margin: 0;
}
.home_banner{
    min-height: 90vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#intro-banner{
    height:90vh;
}
#banner-title{
    font-size: 3rem;
}
.intro-info{
    text-align: center;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:20px;
}
#brand-name{
    font-family: 'Aboreto', cursive;
    font-style: italic;
}
#banner-text{
    font-size: 18px;
    margin:10px 4px;
}
.action-links{
    display: flex;
    justify-content:center;
    gap:20px;
}
.btn_action{
    padding: 8px 8px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
}
.seek{
    background:#000;
    color:white;
    border-radius: 8px;
}
.search{
    background:#fff;
    border-radius: 8px;
    border: 2px solid #000;
}